%inputContato {
  margin-bottom: 25px;
  transition: background-color 0.3s;
  &:focus {
    background-color: rgba(204, 204, 204, 0.3);
  }
}

input[type="text"],
input[type="email"] {
  @extend %inputContato;
  padding: 25px 15px;
}

textarea.form-control {
  @extend %inputContato;
  height: 150px;
}
